header {
    text-align: center;
    position: fixed;
    background-color: #3b3b3b;
    color: rgb(238, 238, 238);
    z-index: 1;
    left: 0;
    height: 100%;
    width: 300px;
    float: left;
git
    .languageButton {
      width: 100%;
      padding: 10px;
      margin-bottom: 15px;

      background-color: #b4d7ee;
      color: #3b3b3b;
      border: 0px;

      font-weight: 500;
      font-size: 16px;

      .languageSelector {
        display: none;
        position: absolute;
        width: 100%;
        margin: -10px;
        margin-top: 10px;

        * {
          width: 100%;
          padding: 10px;
          background-color: #ffffff;
          border: 0px;
        }

        font-weight: 500;
        font-size: 16px;
      }
    }

    .languageButton:hover .languageSelector {
      display: block;
    }

    img {
      width: 280px;
      height: 280px;
      padding: 10px;
    }

    h1 {
      font-weight: 600;
      font-size: 24px; 
    }
    div {
      font-weight: 300;
      font-size: 15px;
      line-height: 180%; 
    }
    button {
      border: 0px;
      background: none;
//      background: gray;
      color: white;
      width: 100%;
      font-weight: 500;
      margin: 5px 0px;
      padding: 2px 0px;
//      &::before {
//        content: "> ";
//      }
    }

}