@import 'index.scss';

body {
    background-color: #f3f3f3;
    color: #333333;
}

* {
    position: relative;
}

#root {
    > div.construction {
        font-size: 32px;
        line-height: 40px;
        font-weight: 200;
        color: black;
        margin: 32px 0px;
    }
}

.background {
    position: fixed;
    background: #333333;
    height: 100px;
    width: 100%;
    &::after {
        content: '';
        position: fixed;
        left: 0;
        top: 100px;
        width: 0;
        height: 0;
        border-top: 300px solid #333333;
        border-left: 100vw solid rgba(0,0,0,0);

        @media (max-width: $max-mobile-width) {
            border-top: 200px solid #333333;
        }
    }
}

.profileImage {
    left: calc(50% - 150px);
    margin-top: 100px;
    height: 300px;
    width: 300px;
    border-radius: 50%;

    @media (max-width: $max-mobile-width) {
        margin-top: 50px;
    }
}

.center {
    margin: 0px auto;
    text-align: center;
}

.title {
    font-size: 24px;
    line-height: 32px;
    font-weight: 500;
    margin-top: 24px;
}

.subtitle {
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    margin-top: 16px;
}

.link {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    margin-top: 24px;
}